<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.upc.catchup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CathUpApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="DATABASE" android:value="catchup.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="pe.edu.upc.catchup.models" />
        <activity
            android:name=".viewcontrollers.activities.OnboardingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".viewcontrollers.activities.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".viewcontrollers.activities.ArticleActivity"
            android:label="@string/title_activity_article"
            android:parentActivityName=".viewcontrollers.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.catchup.viewcontrollers.activities.MainActivity" />
        </activity>
        <activity
            android:name=".viewcontrollers.activities.SourceActivity"
            android:label="@string/title_activity_source"
            android:parentActivityName=".viewcontrollers.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.catchup.viewcontrollers.activities.MainActivity" />
        </activity>
    </application>

</manifest>